**/__pycache__/
matplotlib/chap2/tr8.py
matplotlib/chap2/tr9.py
matplotlib/chap2/tr12.py
matplotlib/chap7/tr38.py
matplotlib/chap11/tr52.py
matplotlib/chap11/tr53.py
matplotlib/chap14/tr60.py
draw_panel/draw.py
draw_panel/random_walk.py
**/tempCodeRunnerFile.py